[2017-03-01 17:18] samcorcos opened #1 "Make plate outline color configurable"
The current color is blue; let's change it to hot pink so it sticks out more.

[2017-03-02 09:39] rturk opened #2 "Include Android Support"

[2017-03-02 23:48] samcorcos opened #3 "Simplify installation process"
There has to be a way to just run `react-native link`, right? Surely we don't have to manually change all of this in Xcode, right...?

[2017-03-03 17:00] felipecocco opened #5 "Pass options to OpenALPR"
Is there any way currently to pass options to the OpenALPR recognizer -- plate formate, country code, etc.?

[2017-03-05 02:44] kevinjpetersen commented on #2
+1

[2017-03-06 17:58] #1 closed

[2017-03-06 17:58] #5 closed

[2017-03-06 17:59] emrosenf commented on #2
Can anyone help with this? Get in touch with me or @samcorcos

[2017-03-06 18:00] felipecocco commented on #5
Thank you so much, @emrosenf -- excited to try it out tonight!

[2017-03-06 18:02] emrosenf commented on #5
You're welcome, let me know how it works

[2017-03-06 18:47] felipecocco commented on #5
I had a couple mins -- worked flawlessly, even just on screen grabs of plates!

https://streamable.com/kdjcw

[2017-03-06 18:53] emrosenf commented on #5
Nice! Thanks for the update and the video

[2017-03-11 06:14] yinonweiss opened #6 "(deleted)"

[2017-03-13 20:14] #6 closed

[2017-04-05 17:29] heaversm opened #7 "undefined symbols ALAssetsLibrary after update to Xcode8.3 from 8.2.1"
Hi - had a project that would build last night - then I upgraded to XCode 8.3, now I get this error:

<img width="549" alt="screen shot 2017-04-05 at 10 27 02 am" src="https://cloud.githubusercontent.com/assets/520541/24718394/b6ffc60e-19ea-11e7-9568-5ceb740cc460.png">

Any idea how to resolve this?

[2017-04-05 17:51] #7 closed

[2017-04-05 17:51] heaversm commented on #7
Resolved by adding AssetsLibrary in Link with Binaries

[2017-05-02 10:01] karthi431 opened #8 "Compile issues"
when i download and run this code i will get un error like React/RCTBridge.h file not found. how to achieve this issue. Please help me.

[2017-05-02 16:32] samcorcos commented on #8
@karthi431 Just to clarify, did you follow the installation instructions in the readme? There's a lot more to it than just downloading.

[2017-05-09 04:33] samcorcos commented on #8
I'm going to assume you figured this out. Closing the issue.

[2017-05-09 04:33] #8 closed

[2017-05-17 07:34] betocantu93 opened #9 "Crash on Country MX"
Hello, thanks for this lib, great job!

When compiling my react native project using country="mx", the camera don't work, literally if I change to 'us' it works, rarely enough if I use the live reload tool and change it to 'mx' (compiled in 'us') it works as expected.

So the issue, unable to compile using another country than 'us'.

And it breaks in this line of code on xcode project.

![screen s

[2017-06-14 23:46] jonathanpalma commented on #2
@emrosenf I would be glad to help with this. Actually I'm supporting a [tesseract-ocr wrapper for react native](https://github.com/jonathanpalma/react-native-tesseract-ocr). But for now it is only working on android. It would be nice if somebody of this project's collaborators could help me with the iOS implementation in exchange for giving android support to this project.

[2017-06-27 21:01] Progoogler opened #10 "Capture is not a function"
This is probably a no-brainer, but how do I call the capture function on `this.camera` ref?

I'm switching from an existing 'react-native-camera' implementation to 'react-native-openalpr' where the "take picture" function for 'react-native-camera' is `this.camera.capture()`. On the description of 'react-native-openalpr' it says that its camera is based off of 'react-native-camera' so I assume that

[2017-08-01 11:34] jreason commented on #2
Hi Guys, any progress with this?

[2017-08-02 20:13] emrosenf commented on #2
@jreason @jonathanpalma @kevinjpetersen @rturk There is a new pull request for Android. Would you be willing to test it?

[2017-08-03 14:32] jreason commented on #2
@emrosenf great news! It might be a week or two before i get onto it but most definately!

[2017-08-08 22:10] baozdemir commented on #2
+1

[2017-08-08 22:59] samcorcos commented on #2
@baozdemir As it happens, there is an active pull request. Would you mind testing it? We don't have the bandwidth right now.

[2017-08-09 07:55] baozdemir commented on #2
@samcorcos  I can do end-user testing. I may not have enough technical knowledge in React native.

[2017-08-09 15:47] samcorcos commented on #2
@baozdemir That would be great! Thank you.

[2017-08-12 01:27] baozdemir commented on #2
![error](https://user-images.githubusercontent.com/9097009/29235892-22508534-7f0c-11e7-928b-4794e7c99c52.png)

I think I have completely implemented all the steps in doc. but I get this error. If the problem is from me please warn me. Thanks.

[2017-08-14 11:24] baozdemir opened #12 "Pull Request for Include Android Support"
![error](https://user-images.githubusercontent.com/9097009/29235892-22508534-7f0c-11e7-928b-4794e7c99c52.png)
I am trying to test [this](https://github.com/cardash/react-native-openalpr/pull/11) pull request.
I have completely implemented all the steps in [doc](https://github.com/cardash/react-native-openalpr/tree/22722856d8b46be99c38b588a81b458a96f82643) pull request and I get this error on step

[2017-08-19 20:10] Progoogler commented on #12
It seems that appending the `/libraries` path to the project's settings.gradle as such:
[code]
fixes the routing issue. However, it's encountering another error:
[code]
After looking around, the consensus around such an error is that the gradle files are encountering errors while building, so `getConfiguration()` returns `default`. This leads me to believe that the cause of the error lies somewher

[2017-08-19 21:22] Progoogler commented on #12
This may be a false notion.. but what I did was I deleted both
[code]
from the the react-native-openalpr android/build.gradle and added them to my project's android/build.gradle so that the dependencies look like:
[code]
Then I noticed in settings.gradle that there was a typo in the new Android Installation doc
[code]
should be (w/o the ' - '):
[code]
Now when I run `./gradlew installDebug` it's a

[2017-08-19 22:26] Progoogler commented on #12
Ok, so that whole removing the
[code]
from react-native-openalpr/android/build.gradle turned out to be a false notion after all.
I added that back without removing anything from the project's android/build.gradle and that allowed for the resource identifier to be found within compiled packages of the library's build.gradle.
The only other change I had to make was set minSdkVersion of the project's

[2017-08-19 22:30] baozdemir commented on #12
@Progoogler  Thanks for be interested. I will continue testing as soon as possible.

[2017-08-20 00:06] JohnYangSam commented on #12
@Progoogler to clarify - so with the updated minSdkVersion you were able to have it working on your end? We can update the pull request if so, otherwise, we'll dig on our end and try to reproduce your error.

[2017-08-20 18:48] Progoogler commented on #12
It's working!
![screenshot_2017-08-20-10-12-38](https://user-images.githubusercontent.com/16564838/29497392-b1b9db4a-859b-11e7-8fe1-0ae996d6d371.png)
@JohnYangSam The minSdkVersion was one of the hurdles. On my second attempt, instead of changing my project's minSdkVersion to match the library's `21`, I changed the library's to `16` and it still worked. This approach seems preferable. - Would you

[2017-08-20 20:49] emrosenf commented on #12
@Progoogler I've added you as a collaborator to this repo so you can contribute your fix

[2017-08-21 16:52] JohnYangSam commented on #12
updates made related to the minSdkVersion here: https://github.com/cardash/react-native-openalpr/pull/11#issuecomment-323796385

[2017-08-21 18:35] emrosenf commented on #12
PR merged, closing

[2017-08-21 18:35] #12 closed

[2017-08-21 18:35] emrosenf commented on #2
Android support has been merged!

[2017-08-21 18:35] #2 closed

[2017-08-25 00:45] llanginger opened #13 "Apple Mach-O Linker (id) Error"
### Lib specs:

react: 16.0.0-alpha.6
react-native: 0.44.2
react-native-openalpr: 1.0.6

### Issue:

Hi there,

I'm sure that I'm missing something fairly obvious but I have tried 4 or 5 times now from scratch to get your library into my project and I consistently get the same error:

![screen shot 2017-08-24 at 5 04 13 pm](https://user-images.githubusercontent.com/16844415/29694546-e211f8d2-88f1-

[2017-08-25 13:10] Ollie-NTP opened #14 "Quick Recognition"
Hello,
I installed openalpr on both versions, iOS is running very well but on Android I have a very high lag (I use a Samsung S7), delayed reading ... is there any config for this? A screenshot if the number is the one I'm looking for how can I do? I saw that the camera module is not really the camera... Thank you,  I am
waiting for your answer

[2017-08-25 17:23] Progoogler commented on #14
The only configs that I'm aware of are the props which are passed to `<ALPRCamera .../>`. I've noticed that when I lower the `captureQuality` prop, the response time of `onPlateRecognized`is quicker. My tests show a response time of 1 second for low and 3+ seconds for medium or high quality. I'm using a Samsung S6 Edge+.

[2017-08-25 17:30] Progoogler commented on #10
Capture is not a function in this implementation of camera view. I'll be looking into the prospect of adding this feature in in the future. If anyone is interested in this also, please do let me know!

[2017-08-25 17:30] #10 closed

[2017-08-29 14:50] arnsa opened #15 "Crash on android emulator"
Hello,

I've been trying to make this library work on Android. It seems to be working fine on the real device, but when I am trying to launch it from android emulator, whenever I open up the camera, it crashes after 1-2 seconds. I've linked everything using instructions. I've also added camera permissions. Copy-pasted code from the README. Does anyone have any clue what could be wrong here?

[2017-09-01 14:06] costabatista opened #16 "Configuration with name 'default' not found"
Hi,

Today i tried use this project in my android application. So i followed all installations instructions step by step. But i'm getting the following error:

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':app'.

So, i downloaded the example and did the usual:

- downloaded the example project
- run 'npm install'
- run 'react-native run-andro

[2017-09-01 18:19] Progoogler commented on #16
Can you run with `./gradlew installDebug --info --stacktrace --debug` and post the error report?

I remember having a similar issue before but the solution escapes me at the moment. By the way, this problem usually occurs because gradle has encountered difficulties in bundling a library that hasn't been correctly linked in `settings.gradle or app/build.gradle`. I suggest walking through the prelim

[2017-09-01 18:35] costabatista commented on #16
I'll try again and i'll follow you suggestion, then i'll post here the results, thanks
 =)

[2017-09-04 12:33] costabatista commented on #16
i run the debug command, then this is the return:

.2.3(runtime).
09:29:20.540 [DEBUG] [org.gradle.api.internal.artifacts.ivyservice.resolveengine.graph.DependencyGraphBuilder] Changed edges for com.android.tools.build:builder-test-api:2.2.3(runtime) selects same versions as previous traversal. ignoring
09:29:20.540 [DEBUG] [org.gradle.api.internal.artifacts.ivyservice.resolveengine.graph.Dependen

[2017-09-04 13:57] costabatista commented on #16
Now I noticed that the path `'../node_modules/react-native-openalpr/android` doesn't exist inside the folder inside node_modules. Then there isn't a way to gradlew bundling this correct. I don't have the solution yet, but i'm trying. = ] For while i'll try copy manually the android folder to node_modules.

[2017-09-04 14:57] costabatista commented on #16
I think that i find out the solution to fix this problem. As i sad before the android folder isn't inside react-native-openalpr path in node_modules. Then i copied the android folder that's inside this project manually to the react-native-openalpr path. I followed all those installations instructions normally. This worked for me. Now i can search for a way to scan brazilian license plates :) .

[2017-09-04 15:01] costabatista commented on #16
![device-2017-09-04-120023](https://user-images.githubusercontent.com/13912708/30031652-bbf56ec0-9168-11e7-9df2-0a2901e9cb42.png)

[2017-09-04 17:22] Progoogler commented on #16
Glad it works! Seems that the package needs to be updated on the npm registry. Happy coding!

[2017-09-04 17:22] #16 closed

[2017-09-06 10:30] Ollie-NTP opened #18 "Photo Capture"
i have a new issue, i want to make a capture screen in the same moment when onPlateRecognizer() return a plate number, a different image beside off the image for recogoneze plate for save this in phone memory ( i need this for android and ios ) please, help me ! :)

[2017-09-06 18:19] Progoogler commented on #18
You're in luck. I just recently submitted a PR for including an image `capture()` feature in the Android version. If you clone the `openalpr-with-image-capture` branch of this repo, you should have access to the capture functionality which you are seeking. You would be able to do something like this with your `onPlateRecognized()`:

[code]

I will look into adding this feature into iOS when the ti

[2017-09-08 19:31] attila-ulman-bisimulations commented on #16
Would be possible to update it, please?

[2017-09-08 20:08] Progoogler commented on #16
To my understanding, only the person who originally registered the package can update it on npm. Am I right, @emrosenf ? In the meantime, you can clone the repo and drop it into your node_modules.

[2017-09-19 22:14] meer1992 commented on #16
@costabatista I am also having the same issue.. I copied the android folder from '../node_modules/react-native-openalpr/android' to 'react-native-openalpr/Example/node_modules' but did not work for me..

I am getting this log:
...
@costabatista I am also having the same issue.. I copied the android folder from '../node_modules/react-native-openalpr/android' to 'react-native-openalpr/Example/node_m

[2017-09-20 01:29] Progoogler commented on #16
@meer1992 To clarify, you copied `react-native-openalpr/android` to `Example/node_modules/react-native-openalpr` right?

Can you post your `settings.gradle` and `build.gradle`?

[2017-09-20 09:10] meer1992 commented on #16
@Progoogler
That's right.. I followed these steps from [readme](https://github.com/cardash/react-native-openalpr#running-the-example-project-on-android-while-developing). I did step 5, 6 and 7 and try to rebuild the project again but still same issue.

This is my` settings.gradle`:
[code]
This is `build.gradle`:
[code]

[2017-09-25 15:08] VvanGemert commented on #13
Hi llanginger,

I've had the same problem with compiling. I solved it by adding the following libraries:

- CoreVideo.framework,
- AssetsLibrary.framework
- CoreMedia.framework

in 'Link with Libraries'.

I found the solution here:

https://stackoverflow.com/questions/23634940/opencv2-framework-not-compile-with-linker-flag-objc

[2017-09-27 08:54] muthumani-prabhu opened #19 "Failed to build apk (Configuration with name 'default' not found)"
I tried setting up the example given with the project. When I try running "react-native run-android" to build apk, I am seeing the following error

Evaluating project ':opencv' using build file 'C:\mani\AwesomeProject\node_modules\react-native-openaplr\android\libraries\opencv\build.gradle'.

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':app'

[2017-09-27 20:17] RobertSasak opened #20 "Zoom"
I understand that higher resolution images will not necessary improve the licence plate recognition. More over it would use more CPU.

Instead of resizing image down to 480x360 I would like to crop the center of the image to size 480x360 (Camera.constants.CaptureQuality.medium). User of the app will be instructed to point camera in such a way that a licence plate is in the center of the image.

Th

[2017-09-29 09:56] scipioni commented on #19
Search for string "**openaplr**" into Example/android/settings.gradle. Replace with **openalpr**

[2017-09-29 13:21] nirvaat commented on #20
Yes I was also feeling lack of zoom feature. If we can set the zoom level of the camera with same aspect ratio, then it will be easier to read number plates from a distance. Nowadays the camera's has great resolution, so zooming will not distort the image, it can be digital zoom.

[2017-09-29 17:07] Progoogler commented on #19
Thanks @scipioni

[2017-09-29 17:07] #19 closed

[2017-11-03 02:10] betiol opened #22 "Does not recognize on android"
Can not recognize the plate, is someone going through it?
Device: Moto G4

[2017-11-03 03:11] #22 closed

[2017-11-03 03:12] betiol opened #23 "country br does not work"

[2017-11-08 12:44] RassaLibre opened #25 "Wrong confidence range"
Hello,
there is this line in the docs:

    if (confidence > 0.9) {

but when I log `confidence` I get a number between 1-100. The correct check should therefore be:

    if (confidence > 90) {

[2017-11-09 04:35] Progoogler commented on #25
Thanks for noticing this!

[2017-11-09 04:35] #25 closed

[2017-11-14 10:25] RassaLibre commented on #25
The same in the example btw. :-)

[2017-11-14 18:35] Progoogler commented on #25
Keen eye.Thanks again! =)

[2017-11-20 21:00] RobertSasak opened #26 "Slow first load"
It takes around 8s before *<Camera>* component show for the first time on iOS. UI thread is frozen and after 8 seconds camera show on the screen. Any following showing/hiding camera is very fast.
Has anybody else similar issue?

[2017-11-29 23:56] andrefilipin commented on #23
Same here, doesn't work

[2017-12-13 15:16] Skeetfly opened #27 "When i try to open the app it crashes"
When i try to open the app it crashes and when i check my logcat it gives me this
`12-13 23:11:58.570 7386-7427/com.awesomeproject E/AndroidRuntime: FATAL EXCEPTION: HandlerThread
                                                                  Process: com.awesomeproject, PID: 7386
                                                                  java.lang.UnsatisfiedLinkError: dalvik.system.Pat

[2017-12-14 16:57] Dreyer commented on #13
@VvanGemert this should really be added to the setup instructions because otherwise it doesn't compile

[2017-12-22 00:05] jqn commented on #13
For me I ran into three different errors running this library. One I had to add:
- $(PROJECT_DIR)/../node_modules/react-native-openalpr/ios/Frameworks to frameworks search path
- Add
  -CoreVideo.framework,
   -AssetsLibrary.framework
   -CoreMedia.framework
And finally update proptypes in the index.js file of this library

[2017-12-27 10:04] valinaga opened #28 "error in iOS"
I follow the instructions as per the install documentation but I got an errror:
[code]
It looks like after adding the frameworks to the project there were no updates on framework search path. But if I try to manually add the path
[code]
I got the error:
[code]
Any idea? I'm on XCode 9.2

[2017-12-27 11:02] RobertSasak commented on #28
Your post feel familiar, but I cannot recall details. I made few notes that I hope will help you.
1. Note
Ensure that "This should cause the project to add a framework search path to the project's build settings (e.g. $(PROJECT_DIR)/../node_modules/react-native-openalpr/ios/Frameworks)."

2. Note
Problem with: objc-class-ref in opencv2(cap_ios_video_camera.o)
Follow instructions from https://githu

[2018-01-11 06:45] j0sk opened #29 "License question"
Hi,

Is all of these files under MIT license? I though that OpenALPR files could be under GPL3?

-t

[2018-01-26 19:11] jqn opened #30 "plateOutlineColor not showing"
Has anyone run into the plateOutline not showing? - I tested this on ios

[2018-01-26 21:29] jqn commented on #28
Take a look at this issue it might be what you are running into https://github.com/cardash/react-native-openalpr/issues/13

[2018-02-08 08:49] RassaLibre commented on #26
I am having the same issue. I just show a spinner underneath...

[2018-02-15 08:28] RobertSasak commented on #26
Me too. I also show a spinner for now. I look into the code but I could not figure out what is taking so long.

[2018-03-01 15:52] 0x01Brain opened #31 "Add new countries with different variant types of license plates"
How to add new license plates for different cities or states for a specific country?

[2018-03-11 21:43] dodds-cc commented on #23
Looking at the openalpr.conf file, it only seems to support us and eu at the moment. I was trying with GB plates for ages!

[2018-03-11 21:45] dodds-cc commented on #23
try looking here: for the conf files: https://github.com/openalpr/openalpr/tree/master/runtime_data/config

[2018-03-11 21:45] dodds-cc commented on #31
I've found some config here for other countries, which you can load into the openalpr.conf file in the runtime_data folder
https://github.com/openalpr/openalpr/tree/master/runtime_data/config

[2018-03-12 02:29] 0x01Brain commented on #31
Yes I did noticed that too, but is there some documentation that explains each line on the config or some kind of example that someone can use to add custom config for a country that does not exist in the "runtime_data" folder.

[2018-03-22 11:08] raedhellal commented on #31
you can add a new country , in this link http://doc.openalpr.com/opensource.html#adding-a-new-country you will find how to do it and then you can add the config files after the training to the application.

[2018-03-23 06:59] nhunghuynhthihong opened #32 "'React/RCTBridge.h' file not found"
After I linked openalpr to my xcode project, but it cannot run successfully:

<img width="809" alt="screen shot 2018-03-23 at 2 00 25 pm" src="https://user-images.githubusercontent.com/8254346/37815722-97291182-2ea2-11e8-802e-f79b72cb88c0.png">

<img width="994" alt="screen shot 2018-03-23 at 2 01 24 pm" src="https://user-images.githubusercontent.com/8254346/37815758-c7c911c0-2ea2-11e8-8b77-5be401

[2018-03-23 14:41] Ogglas opened #33 "Example -> Android Studio -> Failed to crunch file"
Followed this guide:  https://github.com/cardash/react-native-openalpr#running-the-example-project-on-android-while-developing to get the example project running. In step 4 I get the following errors in Android Studio.

## Actual Behavior

## Expected Behavior
Android Studio Gradle should build without a problem.

## Software versions
- OS platform and version: Microsoft Windows 10 Pro, Version 10

[2018-03-27 13:18] #31 closed

[2018-05-02 23:14] bcalik commented on #26
Does anyone have a solution please?

[2018-06-27 09:56] zhouhao27 opened #34 "Version of libraries"
What is the version of Tesseract and OpenCV used in your project?

And is there any instruction on how to build Tesseract and OpenCV libraries for iOS? Thanks.

[2018-07-12 08:44] zhouhao27 opened #35 "How to build openalpr in iOS?"
I'm wondering how you managed to openalpr to iOS? The reason I need to compile it by myself is that I'd like to change and debug the openalpr. Thanks.

[2018-07-13 18:28] CptFabulouso opened #36 "Image is flipped and upside down"
Running the example on device Nexus 5x, Android 8.1.0

For some reason the image is flipped both horizontally and vertically, so upper left corner in real word is in bottom right corner. Plate numbers are read as camera sees them. Switching orientation only rotates the menu.

Works alright on nexus 4, Android 5.1.1

[2018-07-15 14:30] esbasti commented on #7
This link help me fix this error
What it does is include 3 more libraries.

https://stackoverflow.com/questions/23634940/opencv2-framework-not-compile-with-linker-flag-objc

[2018-07-15 14:32] esbasti commented on #28
I fixed the error by adding 3 more libraries to the project, including AssesLibrary.framework

https://stackoverflow.com/questions/23634940/opencv2-framework-not-compile-with-linker-flag-objc

[2018-08-14 21:47] btrscott opened #37 "Android version not compiling"
3 Errors

Error retrieving parent for item: No resource found that matches the given name 'android:TextAppearance.Material.Widget.Button.Borderless.Colored'.
Message{kind=ERROR, text=Error retrieving parent for item: No resource found that matches the given name 'android:TextAppearance.Material.Widget.Button.Borderless.Colored'., sources=[/Users/scott/sandbox/react_native/cdcv/node_modules/react-n

[2018-09-06 16:13] gsavchenko opened #38 "PropTypes is a separate module now"
I'm not sure for which version of react-native this has been implemented, however, I noticed in index.js PropTypes is imported from 'react' when in newer versions it's become its own module and should be imported from 'prop-types'.

https://www.npmjs.com/package/prop-types

I hope this helps,
George.

[2018-09-06 16:38] RobertSasak commented on #38
My commit was never merged. https://github.com/cardash/react-native-openalpr/pull/24

[2018-09-06 20:33] #38 closed

[2018-09-21 12:32] mike-at-tiffik commented on #26
I managed to get around this forcing '[self.session startRunning]' to run in the main queue. This can be found in the startSession method in the ALPRCameraManager.mm file. As this seems like a threading issue use at your own discretion.

<img width="1084" alt="screen shot 2018-09-21 at 13 28 32" src="https://user-images.githubusercontent.com/42147232/45881167-500a3d00-bda2-11e8-9f8e-7216ba02d8da.p

[2018-09-21 12:58] RobertSasak commented on #26
Nice. Well done @mike-at-tiffik . Since it is just three lines of code, can you please submit a PR?

[2018-09-21 12:59] mike-at-tiffik commented on #26
Will do.

Cheers

Mike

Mike Boyns
Software Developer

email: 	mike@tiffik.com
web:	 http://www.tiffik.com
mobile:	07743 719932

---
Tiffik Solutions Limited

Specialising In Creating And Delivering Bespoke IT Solutions.

Website design, E-Commerce and Mobile

Registered in England and Wales. No 11398486
---

[2018-09-27 11:47] Bobozee commented on #27
I have experienced the same issue but only on very old Android hardware.

[2018-09-27 11:53] Bobozee commented on #14
I have experienced the same issue, on iOS it works just perfect but on Android it lags and sometimes I even do not get any plate recognized. The camera is set on medium quality.

[2018-09-29 12:38] cvl01 opened #40 "Example App does not work on Android, shows undefined is not an object"
![screenshot_20180929-143520](https://user-images.githubusercontent.com/30371838/46245846-3ea1e000-c3f5-11e8-83c7-70b094aae0e4.png)

What can I do to solve this error on android?

[2018-10-23 09:53] KnapSac commented on #40
#https://github.com/react-native-community/react-native-camera/issues/1005#issuecomment-347780455

@hawkup 's answer fixed it for me, just change the following code in camera.js:
[code]

[2018-10-29 23:29] FrenchBully commented on #40
This is also happening on IOS, even with the updated Camera.js file. Any other ideas @KnapSac?

[2018-10-31 16:24] FrenchBully commented on #40
@RobertSasak yes, CameraManager is undefined. I'll try reinstalling to be sure I didn't miss a step. Thanks for the reply.

[2018-11-07 14:11] joaodematejr opened #41 "I downloaded the example but when I run the project shows this error"
undefined is not an object (evaluating '_react.PropTypes.oneOfType')
<unknown>
    camera.js:46:26
loadModuleImplementation
    require.js:320:6
guardedLoadModule
    require.js:214:36
metroRequire
    require.js:136:24
<unknown>
    consultasCamera.js:12
loadModuleImplementation
    require.js:320:6
guardedLoadModule
    require.js:214:36
metroRequire
    require.js:136:24
<unknown>
    App.js:8

[2018-11-07 14:14] RobertSasak commented on #41
https://github.com/cardash/react-native-openalpr/pull/24

PropTypes are not part of react any more. There is already a pull request for it. In a meanwhile simply rewrite imports of PropTypes in camera.js

[2018-11-07 14:31] joaodematejr commented on #41
Get resolved by importing inside the file import PropTypes from 'prop-types'; camera.js

[2018-11-09 17:40] Sofianebenabdallah commented on #32
I have the same issue. I test this :

In Xcode, go to the project scheme (Product -> Scheme -> Manage Scheme -> double click your project).

Click on the 'Build' option at the left pane.

Uncheck 'Parallelize Build' under Build Options.

Then in Targets section, click '+' button then search for 'React'. Select it and click 'Add'.
'React' should now appear under Targets section. Click and drag it t

[2018-11-19 15:06] romax94 opened #42 "Run for 1.1.0 version"
Could you please give example for version 1.1.0. Because we start our app and we see white screen. We done all steps for setup react-native-openalpr. Camera not start and dont ask permission for camera.

[2018-11-20 13:34] #42 closed

[2018-11-28 20:47] dfellis opened #43 "New Maintainer for this repository"
A few months ago we reached out privately to a few people to see if anyone wanted to take over this project, because it is no longer used at CarDash and all contributors to the project have since left the company.

We didn't get a definitive answer at that time, so I am now reaching out to all prior contributors: @emrosenf @Friendly-Robot @samcorcos @RobertSasak @JohnYangSam @Hunsu are any of you

[2018-11-28 21:42] RobertSasak commented on #43
As I am currently using this repo in one of my projects I am interested in taking over. I do not have big plans in development but I am happy to merge PRs and publish new version on NPM.

[2018-11-28 21:47] dfellis commented on #43
Thank you @RobertSasak . :)

Do you mind waiting a day or two in case anyone else wants to chime in?

[2018-11-28 21:49] RobertSasak commented on #43
I hope that somebody will join me to increase Truck Number.

[2018-11-29 00:10] JohnYangSam commented on #43
@SiliconValleyInsight team isn’t currently using this repository, but we are happy to stay in the loop and help merge in requests in the future when we have bandwidth if @RobertSasak takes it over.

[2018-12-01 01:43] samcorcos commented on #43
Sure, I'll take it.

On Wed, Nov 28, 2018 at 12:47 PM David Ellis <notifications@github.com>
wrote:

[2018-12-02 22:51] samcorcos commented on #43
@RobertSasak probably makes the most sense given that he's actively using it.

[2018-12-05 22:13] dfellis commented on #43
Alright, a week has passed, which seems like a reasonable enough time.

Is everyone alright with the plan of giving this repo to @RobertSasak with @JohnYangSam and @samcorcos acting as support?

@RobertSasak to transfer this repo to you will require you to delete your fork and then I can reassign it to you. (I have tried this before and if the fork is not deleted it fails to transfer.) Let me know

[2018-12-05 22:15] RobertSasak commented on #43
Cool. I already deleted my fork. Go ahead.

[2018-12-05 22:20] dfellis commented on #43
So there's an undocumented transfer restriction that you can only transfer it to organizations that you are in or to yourself, so...

@RobertSasak I am going to very temporarily add you to the cardash org and give you ownership of just this repo, and then you can transfer it out. I'll update in here when that's done.

[2018-12-05 22:21] dfellis commented on #43
Alright, the invite is out. @RobertSasak can you accept it, then [click here](https://github.com/cardash/react-native-openalpr/settings) and transfer the repo to yourself?

[2018-12-05 22:32] RobertSasak commented on #43
I can confirm that I took over repo and added @JohnYangSam and @samcorcos as collaborators.
@Friendly-Robot is still collaborator form before.

[2018-12-09 13:40] kabus202 opened #44 "Update to work with latest react version"
Is it possible to update the this project to work with the latest project:

this is the error i get on a blank react template

_> Configure project :openalpr
WARNING: Configuration 'compile' is obsolete and has been replaced with 'implementation' and 'api'.
It will be removed at the end of 2018. For more information see: http://d.android.com/r/tools/update-dependency-configurations.html
WARNING: T

[2018-12-09 16:31] #26 closed

[2018-12-10 04:15] phithu commented on #44
me too

[2019-01-06 05:14] puttputt commented on #32
Also having this issue

[2019-01-22 13:48] #40 closed

[2019-02-05 19:26] AguGriguol opened #45 "Balck screen when unmount camera"
hello!

I have a problem with this library!

When render Camera I don't have problem but when change of state "camera_open" to false, the screen turns black. If I minimize the app and I resume the app, the app recover the state with the image "Welcome".

[code]

[2019-02-08 21:43] inetdigital opened #46 "Black / blank screen when loading camera"
Trying to implement the project on IOS, the application builds and launches fine both in the simulator and a real device, but after accepting the access to camera prompt the application hangs on a black screen, the camera never opens. There is no build or runtime errors output in Xcode, the only warning output is;

```ALPRCameraManager requires main queue setup since it overrides `constantsToExpor

[2019-03-18 20:41] smancebo commented on #13
Hi
go to [this link](https://docs.opencv.org/2.4/doc/tutorials/ios/video_processing/video_processing.html#adding-the-camera) and add all the frameworks listed here and add $(PROJECT_DIR)/../node_modules/react-native-openalpr/ios/Frameworks
to the Framwork Search path (in debug and release)

works for me

[2019-03-21 03:18] jsastriques commented on #28
ld: framework not found openalpr
clang: error: linker command failed with exit code 1 (use -v to see invocation)

i get this error, please some help

[2019-03-22 19:04] DwCleb commented on #22
@betiol  Do you resolve this issue?

[2019-03-28 19:37] franck-nadeau commented on #28
openalpr  is outside your project directory, so you need to add the following:

[code]

To your project's ````Framework Search Path````

[2019-04-01 14:58] franck-nadeau opened #47 "iOS previewLayer does not rotate properly"
The image shown is not correct for rotations UIDeviceOrientationPortraitUpsideDown, UIDeviceOrientationLandscapeLeft and UIDeviceOrientationLandscapeRight. It is only correct when the view is in UIDeviceOrientationPortrait.

[2019-04-02 21:28] andresrabinovich commented on #46
Having the same issue here. Could you find a way to fix it?

[2019-04-03 22:25] andresrabinovich commented on #9
Having the same issue with au and eu, any ideas?

[2019-04-04 12:28] andresrabinovich commented on #46
Managed to make it work in IOS. Installed it directly from git using npm install git+https://github.com/RobertSasak/react-native-openalpr/
Had to also add the framework AssetsLibrary.framework in xcode and finally used the example inside the folder Example (I put it in App.js as a test):

import React, { Component } from 'react';
import {
  AppRegistry,
  StyleSheet,
  Text,
  View,
  StatusBar,

[2019-04-04 19:15] franck-nadeau commented on #18
I added that functionality for iOS in this [PR](https://github.com/RobertSasak/react-native-openalpr/pull/49)

Here is how to use it:

[code]

[2019-04-30 12:51] cdvntr commented on #18
Hey @Friendly-Robot,

I can't install the branch via package.json

"react-native-openalpr": "git+http://git@github.com/RobertSasak/react-native-openalpr.git#openalpr-with-image-capture"

Also tried master, do you have a clue?

[2019-04-30 13:19] franck-nadeau commented on #18
Hello,

You will need to use it as follows:

"react-native-openalpr": "RobertSasak/react-native-openalpr#master",

Cheers,

Francois

On Apr 30, 2019, at 8:51 AM, Codeventure <notifications@github.com<mailto:notifications@github.com>> wrote:

Hey @Friendly-Robot<https://github.com/Friendly-Robot>,

I can't install the branch via package.json

"react-native-openalpr": "git+http://git@github.com/Rob

[2019-05-03 08:04] cdvntr commented on #18
Hi @franck-nadeau,

I get CameraManager.takePicture is not a function error and when i log the ref i actually can't see the function.

[2019-05-06 14:19] franck-nadeau commented on #18
Hello.

A few things,
- first you need to be on master because there hasn't been a release for about 2 years.
[code]
- second, this will only work on iOS.
- third you should use the [Camera.takePicture()](https://github.com/RobertSasak/react-native-openalpr/blob/b7c9ea468c2669ee4d54fd7fbf136d06482ff627/index.js#L103) helper function that I added.

Let me know if this still does not work for you.

[2019-05-07 08:45] cdvntr commented on #18
@franck-nadeau Thanks for the quick answer,

- This is on my package.json : "react-native-openalpr": "RobertSasak/react-native-openalpr#master",
- I am working on ios.

After calling the function from the module not the ref, i get;

`TypeError: _reactNativeOpenalpr.default.takePicture is not a function`.

[2019-05-07 18:17] franck-nadeau commented on #18
I am not sure why that is. It is working fine off my own branch. That is, you could use the following:

[code]

Here is my code for your info.

[code]

[2019-05-10 13:10] RobertSasak commented on #47
Merged. Closing issue.

[2019-05-10 13:10] #47 closed

[2019-05-10 13:13] RobertSasak commented on #46
@andresrabinovich Do you mind to create a small PR regarding requiresMainQueueSetup ? I am sure it will take no more than few minutes.

[2019-05-10 13:13] RobertSasak commented on #46
Closing this issue as master is published to NPM as 1.2.0.

[2019-05-10 13:13] #46 closed

[2019-05-10 13:19] RobertSasak commented on #13
Seems to be resolved. Closing for now.

[2019-05-10 13:19] #13 closed

[2019-05-10 13:21] RobertSasak commented on #14
From my experience it helps to try different camera settings. Medium seems to work best. However there is no way to choose best setting for all Android devices. As there is no much to do, I am closing this issue.

[2019-05-10 13:21] #14 closed

[2019-05-10 13:22] RobertSasak commented on #3
I feel your frustration, PR are welcome.

[2019-05-10 13:22] #3 closed

[2019-05-10 13:25] RobertSasak commented on #18
I released master as 1.2.0 https://github.com/RobertSasak/react-native-openalpr/releases/tag/1.2.0
It contains also Take picture ios PR https://github.com/RobertSasak/react-native-openalpr/pull/49

[2019-05-10 13:26] RobertSasak commented on #28
As this is an old issue I am closing it now. Feel free to open new one.

[2019-05-10 13:26] #28 closed

[2019-05-10 13:27] RobertSasak commented on #30
I cannot reproduce this issue in current master.

[2019-05-10 13:27] #30 closed

[2019-05-10 13:28] #20 closed

[2019-05-10 13:29] #23 closed

[2019-05-10 13:31] RobertSasak commented on #27
Closing, as it is an old issue.

[2019-05-10 13:31] #27 closed

[2019-05-10 13:32] RobertSasak commented on #36
Can you verify that issue still exists on last release?

[2019-05-10 13:47] RobertSasak commented on #9
I just clone the repo. Open Example folder and iOS folder in XCode. Change country to eu and then to au. I cannot reproduce your issue. Both au and eu works.
Can you please provide info how to reproduce this issue?

[2019-05-10 13:56] CptFabulouso commented on #36
Yes, the issue still exists

[2019-05-10 15:03] CptFabulouso commented on #36
I found this [post on reddit](https://www.reddit.com/r/Android/comments/3rjbo8/nexus5x_marshmallow_camera_problem/cwqzqgh?utm_source=share&utm_medium=web2x), that might be useful.

[2019-06-20 05:53] Lucienzera opened #51 "Load then crashed on device"
App showed the camera for 1sec then crashes for both scenario:

1. Followed the instruction on README.md to test on the new project did not work.
2. Git cloned the example and follow the instruction on README.md still not working

Help please..

[2019-06-20 09:11] RobertSasak commented on #51
What platform has it crashed?
Do you get any log messages in catlog or xcode?

[2019-06-20 09:30] Lucienzera commented on #51
@RobertSasak on Android 9.0 where i set the sdk level to 28, same goes for openalpr and the opencv inside the node modules for react-native-openalpr

Im not sure about the log messages.

Thank you

[2019-06-26 13:32] Aiiros commented on #44
any updates ?

[2019-06-28 05:34] arthur5005 commented on #28
That fixed it for me!

[2019-06-30 15:34] neil-zigit opened #52 "app crash on android after update to react-native 0.59"
i think it might related to the the new react-native 64-bit support.
does the libary going to support "arm64-v8a" architecture?

FATAL EXCEPTION: HandlerThread
 AndroidRuntime: Process: com.hertzserviceapp.dev, PID: 14591
 E AndroidRuntime: java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/com.hertzserviceapp.dev-ZpOScjwz6yrN2-4EWzZWJA==/base.apk"],nati

[2019-07-04 07:21] arthur5005 commented on #45
Noticing something similar on iOS. Crashes about 10% of the time when unmounting the Camera. Thought maybe it was the `onPlateRecognized` event hitting the component after it's been unmounted.

Guarding didn't seem to do anything.

I'll have some more time to look into what logs say. Otherwise, this package works great, scans are insanely fast.

[2019-07-04 18:56] AguGriguol commented on #52
Hi!

Do you have openalpr libraries for x64 architectures (arm64, x86_x64, mips64)? Google needs to upload apks in 64 bits.
This is a great limitation, please we need the new libraries.

Thanks

[2019-07-04 22:56] arthur5005 commented on #45
Well, I got around the issue for now by using react-navigation and putting the camera on a parent route that never unmounts.

[2019-07-18 08:55] shashank0495 opened #53 "Not able to run the package"
I followed the steps given but not able to run the project , the error being shown is
import com.sandro.openalpr.CameraReactPackage;

but here sandro package does not exists?

[2019-07-31 02:51] WMaximusW opened #55 "pod install failed"
React native version 0.60.4

Fetching podspec for `RNOpenAlpr` from `../node_modules/react-native-openalpr/ios`
[!] The `RNOpenAlpr` pod failed to validate due to 1 error:
    - ERROR | attributes: Missing required attribute `homepage`.
    - WARN  | source: The version should be included in the Git tag.
    - WARN  | description: The description is equal to the summary.

[2019-07-31 03:44] #55 closed

[2019-08-13 11:46] baleo-it commented on #53
same error here!

[2019-08-13 12:10] baleo-it commented on #53
@shashank0495 replace your code with
[code]

[2019-08-13 12:12] shashank0495 commented on #53
I tried replacing it with cardash but it used to get override with sandro
thing.

Shashank Tiwari

On Tue, Aug 13, 2019 at 5:40 PM Baleo IT <notifications@github.com> wrote:

[2019-08-13 12:16] baleo-it commented on #53
I guess the repo maintainer change has broke the package ids. Needs a PR to have com.sandro working.

[2019-08-15 10:51] RobertSasak commented on #53
I am not sure what has to be done. Can you be please more specific?

[2019-08-15 11:21] baleo-it commented on #53
@RobertSasak we got a "CameraReactPackage package cannot be found" error. It seems like replacing `import com.sandro.openalpr.CameraReactPackage;`with `import com.cardash.openalpr.CameraReactPackage;` makes it work. Do you know why?

But then I get another issue, I'll be reporting it ASAP. I'm working on it.

[2019-08-19 13:39] virgule-xyz commented on #55
Just open the RNOpenAlpr.podspec and fix the line 9 :
  s.homepage     = "https://github.com/RobertSasak/react-native-openalpr"

[2019-08-19 15:04] virgule-xyz opened #57 "Is there a conflict with RNCamera"
Hi,

1st, thanks for your job !

I'm facing a problem in my project, even after installing the whole plugin.

I use RN 0.60.4 and RN Camera 2.9.0.

The tag used is <Camera country="fr" onPlateRecognized={this.onRegistrationRead} />

No compile problem but after launch I've got "null is not an object (evaluating CameraManager.Aspect).

Can it be related to using RN Camera in the same project ?

[2019-08-20 09:57] belabed90 commented on #53
I got the same error, how we solve this?
i have replaced
 **import com.sandro.openalpr.CameraReactPackage;** with import **com.cardash.openalpr.CameraReactPackage;**
but the error stay exist

[2019-08-20 10:01] belabed90 commented on #53
@shashank0495  have you solved the problem?

[2019-08-29 16:40] baleo-it commented on #52
Same problem here!

[2019-09-12 01:21] liyuchenf1 commented on #57
Same here....
Have you solved it? I searched Google it looks like react-native link problem. But how can I link it properly?

[2019-09-19 12:47] densanki opened #58 "iOS App crashing on switch to openalpr scanner"
I used the react-native-openalpr to have a good license plate scanner on my app, it was working prefect. But now with iOS 12.4.1 on my iPhone 8 I get random crashing of the app.
Sometimes everything works great and the plate scanner works very good.
But on the other side the app is crashing immediately on camera open.

I debugged the code to the file
react-native-openalpr/ios/PlateScanner.mm on Li

[2019-09-20 09:09] thongnvlb commented on #53
I had the same problem.

[2019-09-20 13:35] belabed90 commented on #52
Same i'm looking for 64 support

[2019-09-23 08:36] densanki commented on #58
It was cause by problem about country specific settings not working on eu, If I copied everything to us and now it works perfect.

[2019-09-23 08:36] #58 closed

[2019-09-29 17:57] #41 closed

[2019-09-30 23:12] #9 closed

[2019-09-30 23:21] RobertSasak commented on #53
I am looking into it right now, but I feel stuck. Join me on https://gitter.im/react-native-openalpr/community for brainstorming.

[2019-10-03 21:38] RobertSasak commented on #52
I managed to update library to work with react 0.60. You can find changes in a separate branch. However I am struggling to find 64bit underlying libraries.

[2019-10-03 21:39] RobertSasak commented on #44
Work in progress. iOS is ready and support react 0.60. Changes are in separate branch for now, but I will merge it soon. However Android is missing 64 bit libraries.

[2019-10-03 21:40] #18 closed

[2019-10-03 21:40] #36 closed

[2019-10-04 10:04] RobertSasak commented on #57
Try new 2.0.0 version which support RN 0.60. Closing for now.

[2019-10-04 10:04] #57 closed

[2019-10-04 11:45] RobertSasak commented on #53
Closing in favour of https://github.com/RobertSasak/react-native-openalpr/releases/tag/v2.0.1

[2019-10-04 11:45] #53 closed

[2019-10-04 11:45] RobertSasak commented on #52
Closing in favour of https://github.com/RobertSasak/react-native-openalpr/releases/tag/v2.0.1

[2019-10-04 11:45] #52 closed

[2019-10-04 11:46] RobertSasak commented on #44
Closing in favour of https://github.com/RobertSasak/react-native-openalpr/releases/tag/v2.0.1

[2019-10-04 11:46] #44 closed

[2019-10-04 11:46] RobertSasak commented on #35
Closing in favour of https://github.com/RobertSasak/react-native-openalpr/releases/tag/v2.0.1

[2019-10-04 11:46] #35 closed

[2019-10-04 11:46] #37 closed

[2019-10-04 11:47] RobertSasak commented on #34
See podspec file for actual versions

[2019-10-04 11:47] #34 closed

[2019-10-04 11:47] RobertSasak commented on #15
Closing in favour of https://github.com/RobertSasak/react-native-openalpr/releases/tag/v2.0.1

[2019-10-04 11:47] #15 closed

[2019-10-04 11:47] RobertSasak commented on #32
Closing in favour of https://github.com/RobertSasak/react-native-openalpr/releases/tag/v2.0.1

[2019-10-04 11:47] #32 closed

[2019-10-04 11:47] RobertSasak commented on #33
Closing in favour of https://github.com/RobertSasak/react-native-openalpr/releases/tag/v2.0.1

[2019-10-04 11:47] #33 closed

[2019-10-04 11:48] RobertSasak commented on #45
Closing for now

[2019-10-04 11:48] #45 closed

[2019-10-04 11:48] RobertSasak commented on #51
Closing in favour of https://github.com/RobertSasak/react-native-openalpr/releases/tag/v2.0.1

[2019-10-04 11:48] #51 closed

[2019-10-04 11:49] RobertSasak commented on #29
Actual code in this repo is under MIT, you have to also refer all other libraries for their licences.

[2019-10-04 11:49] #29 closed

[2019-10-04 11:54] RobertSasak opened #61 "Need 64 bit libraries for Android"
We are in desperate need of new 64 bit libraries. This module is using
https://github.com/SandroMachado/openalpr-android
who got libraties from
https://github.com/sujaybhowmick/openalpr-droidapp-native
who compiled somehow
https://github.com/openalpr/openalpr

Please join me at https://gitter.im/react-native-openalpr/community to discuss how can we compile new 64 bit libraries. Without your help i

[2019-10-07 00:57] tjlondon-npauctions opened #62 "Android Crash - broken pipe"
Thanks for the work you've put into this. Looks really promising.

However, I'm struggling to get the Example project working on Android, it crashes as soon as the camera mounts with the following. Can anyone give me any pointers?

[code]

[2019-10-07 08:04] RobertSasak commented on #62
Android part of the module is not working as there are no 64 bit libraries.
https://github.com/RobertSasak/react-native-openalpr/issues/61

For reference: https://github.com/RobertSasak/react-native-openalpr/blob/1ae6fe8eabdcc548aa1721704222f6498e7d8c2a/android/libraries/opencv/src/org/opencv/android/StaticHelper.java#L34

[2019-10-10 06:53] ralppppy opened #63 "Error: importing the module"
I have this error

module "c:/Users/User/Desktop/Projects/react-native/TestApp/node_modules/react-native-openalpr/index"
Could not find a declaration file for module 'react-native-openalpr'. 'c:/Users/User/Desktop/Projects/react-native/TestApp/node_modules/react-native-openalpr/index.js' implicitly has an 'any' type.
  Try `npm install @types/react-native-openalpr` if it exists or add a new declar

[2019-10-12 10:07] RobertSasak commented on #63
We do not provide types for yet.
https://stackoverflow.com/questions/41292559/could-not-find-a-declaration-file-for-module-module-name-path-to-module-nam

[2019-10-15 11:18] karansoni725 commented on #61
i need to update my app in play store , but now its require 64 bit libraries

[2019-10-15 11:27] RobertSasak commented on #61
@karansoni725 We all need so. Please look at the above repos and join the gitter to discuss more how to proceed.

[2019-10-29 00:00] CevaComic opened #64 "Always crash on zoom"
-[ALPRCamera handlePinchToZoomRecognizer:]: unrecognized selector sent to instance 0x15726aae0

On iOS, with classic example from this repo.

Any fix ?

[2019-10-29 16:25] RobertSasak commented on #64
It seem like there was a plan for zoom that was never implemented. Can you try to remove line 56 and 57 from
https://github.com/RobertSasak/react-native-openalpr/blob/1ae6fe8eabdcc548aa1721704222f6498e7d8c2a/ios/ALPRCamera.m#L56

It would be perfect for super nice small PR.

[2019-10-29 18:23] leejoo71 commented on #61
I saw this, Is it any help for you
https://github.com/openalpr/openalpr/wiki/Android-compilation

[2019-10-29 18:35] CevaComic commented on #64
for now i just added this to ALPRCamera.m

-(void) handlePinchToZoomRecognizer:(UIPinchGestureRecognizer*)pinchRecognizer {

    if (pinchRecognizer.state == UIGestureRecognizerStateChanged) {
        return;
    }
}

[2019-10-30 02:45] RobertSasak commented on #61
Looks good. Do you have a chance to also run it?
Perhaps we could use Travis or something similar to setup CI for this.

[2019-10-30 02:49] RobertSasak commented on #64
What do you mean by selector? It looks good to me. Please make a small PR, so I can merge it and release update.

[2019-10-30 12:24] CevaComic commented on #64
Ok. But this is just a temprary fix. Because zoom still won't work.

[2019-10-30 13:59] RobertSasak commented on #64
This functionality has never been implemented as far I know.  I wonder why nobody spotted this issue before. Lets fix it first with your PR and then we can open new issue for implementing zoom.

[2019-10-30 15:26] RobertSasak commented on #61
I created simple repo with build script.
https://github.com/RobertSasak/openalpr-android/
You can see some travis errors here.
https://travis-ci.com/RobertSasak/openalpr-android

[2019-10-30 22:33] CevaComic commented on #64
This should help (for someone who knows swift)

https://github.com/react-native-community/react-native-camera/blob/master/ios/RCT/RCTCamera.m

[2019-11-01 19:01] leejoo71 commented on #61
@RobertSasak I had modified the travis.yml & build_openalpr_android.sh in https://github.com/leejoo71/openalpr-android and it was fixed your CMAKE error. But when linked to opencv, it got error, see log line 9327
https://travis-ci.org/leejoo71/openalpr-android

[2019-11-02 02:34] RobertSasak commented on #61
Well done. I can see that you know more about yml files and Travis. Is it best practice to move commands from sh file straight to *travis.yml*.

I can see that there are many errors. I also spotted this one. Can it be problem as well? What error are you exactly referring?
[code]

[2019-11-11 16:06] kuchayyasir opened #66 "Camera is not Recognize license plate"
I have followed the steps to generate app and once i tried to test the app its not recognizing the license plate can u help me with this

[2019-11-12 00:59] RobertSasak commented on #66
Can you please try with example first?
If it is still not working can you please provide more information?

On Tue, 12 Nov 2019 at 00:06, Yasir Kuchay <notifications@github.com> wrote:

--
R.

[2019-11-12 18:47] gfsd3v opened #67 "Xcode 'dyld: lazy symbol binding failed: can't resolve symbol ___cxa_guard_acquire in'"
Hello.

I have followed every step in the README and also tried to run the example app but I'm getting the following error when trying to run the app in XCode

`dyld: lazy symbol binding failed: can't resolve symbol ___cxa_guard_acquire in /Users/gabriel/Library/Developer/CoreSimulator/Devices/E2983EEC-BB6B-4F04-A5A6-350B11DCF58B/data/Containers/Bundle/Application/B51B68CC-6238-434D-865B-B45D56168

[2019-11-14 10:02] maryaibtissem commented on #66
in android or iOS?

[2019-11-15 07:31] Lucienzera opened #68 "App Crashed"
Hey, I followed your setup and everything then upon opening the app crashed straight away

[2019-11-21 15:43] RobertSasak commented on #68
Can you please run the example folder first? If it crash, can you please provide some error message?

[2019-11-21 16:31] #62 closed

[2019-11-21 17:04] RobertSasak commented on #63
However it would be cool to have types. Anybody knows how to do so?

[2019-11-21 17:06] RobertSasak commented on #64
Fixed by https://github.com/RobertSasak/react-native-openalpr/pull/65 and published to NPM in https://github.com/RobertSasak/react-native-openalpr/releases/tag/v2.0.3

[2019-11-21 17:06] #64 closed

[2019-11-21 17:06] RobertSasak commented on #67
Can it be related to https://stackoverflow.com/questions/52331634/xcode-10-0-gm-dyld-lazy-symbol-binding-failed-cant-resolve-symbol-cxa-gu ?
What version of simulator or device are you running it on?

[2019-11-21 17:17] gfsd3v commented on #67
I saw this stackoverflow thread, Its a problem related to iOS 12 simulator. I ended up importing the OpenALPR framework directly in XCode. Thanks.

[2019-11-21 17:18] #67 closed

[2019-12-03 16:37] marcelocferdeveloper opened #69 "camera deprecated because of camera2 api"
I am new on React and I am trying to run this project. I did step by step, but I got this error when trying in some new phone models (physical):

openalpr\ALPRCameraView.java: uses or overrides a deprecated API.
Recompile with -Xlint:deprecation for details.
Some input files use unchecked or unsafe operations.
Recompile with -Xlint:unchecked for details.

Thanks

[2019-12-04 15:55] marcelocferdeveloper commented on #68
I am with the same problem...
But I am a begginer with Android Studio. It´s not appearing where is the error... just crash the app and close it.

[2019-12-04 16:08] RobertSasak commented on #69
FYI: https://github.com/RobertSasak/react-native-openalpr/issues/61

[2019-12-04 16:49] langpp opened #70 "error on run http://localhost:8081/index.android.bundle?platform=android&dev=true&hot=false&minify=false"
i getting error on run http://localhost:8081/index.android.bundle?platform=android&dev=true&hot=false&minify=false in my localhost. this is error

Error: Unable to resolve module `./index.android` from ``:

None of these files exist:
  * index.android(.native|.android.js|.native.js|.js|.android.json|.native.json|.json|.android.ts|.native.ts|.ts|.android.tsx|.native.tsx|.tsx)
  * index.android\inde

[2019-12-04 17:47] marcelocferdeveloper commented on #69
Which device, for example, the app works now ?

[2019-12-04 18:22] RobertSasak commented on #69
iOS. It works on Android, but you cannot publish non 64bit on Google Play any more.

[2019-12-05 13:14] marcelocferdeveloper commented on #69
Ok !! No, it´s just to try for now...

[2019-12-05 16:18] marcelocferdeveloper commented on #16
Opa...e ai? Conseguiu pra placas brasileiras ? Acabei de conseguir rodar o app e pras nossas placas ta ruinzinho.

[2019-12-06 23:24] AidanRRR opened #71 "Null is not an objec (ALPRCameraManager.Aspect)"
- The app asked the correct permissions
- Persmissions have been granted

Is using expo a problem?

[2019-12-07 16:34] RobertSasak commented on #71
Yes, expo only support few native libraries. This one is not among them. Unless you have ejected the app.

[2019-12-09 13:00] AidanRRR commented on #71
Ok, understood!

[2019-12-09 13:00] #71 closed

[2019-12-17 03:03] vinpro24 opened #72 "Can not detect vietnamese 2 line plates"
I have issue with vn2
US & EU plates working fine but not working Vietnamese 2 line plates
Any idea? Thank you

[2019-12-17 09:02] RobertSasak commented on #72
You may need to edit config file at `runtime_data/openalpr.conf`
Quick search revealed this file.
https://github.com/openalpr/openalpr/blob/master/runtime_data/config/vn2.conf

[2019-12-17 13:32] vinpro24 commented on #72
How to edit config at runtime_data/openalpr.conf?
Add vn2.conf below final line openalpr.conf?

[2019-12-17 13:49] RobertSasak commented on #72
I think you just replace the content of the whole file.

[2019-12-17 17:16] vinpro24 commented on #72
I replace the content of file but still not work.

[2019-12-19 07:08] busraguler opened #73 "Execution failed for task ':opencv:compileDebugAidl'."
What is the problem?

![image](https://user-images.githubusercontent.com/16039532/71152402-5c03d980-2247-11ea-86f8-35d9f3ba4ba9.png)

----------------Please help. There is an error --------------

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':opencv:compileDebugAidl'.

[2019-12-19 17:33] vinpro24 commented on #72
any idea? please

[2019-12-19 18:34] RobertSasak commented on #72
You need to read more about OpenAlpr at their homepage. Try to come up with more specific problem description. What does not exactly work? What plates? Screenshots? Two rows? Color?

[2019-12-20 11:02] reacthukuk opened #74 "it seems that you device dows not support camera (or it is locked)."
I added codes preview class which is at the below
---------------------
[code]
or
[code]
----------------------
I took this error message : it seems that you device dows not support camera (or it is locked). Application will be closed.
I gived a permission to camera.
How can I fixed this problem?
If you help me I will be pleasure.

[2019-12-20 11:27] RobertSasak commented on #74
Are you testing on real device or simulator? Sounds like simulator.
iOS or Android?

[2019-12-20 12:21] busraguler opened #75 "What is the problem?"
![79893529_459869624674531_8903714276896669696_n](https://user-images.githubusercontent.com/16039532/71254554-63f17580-233c-11ea-8d30-699490f8deef.png)

[2019-12-20 13:09] reacthukuk commented on #74
I tested on twice real and simulator on Android.

my app.js
------
import React, { Component } from 'react'
import { StyleSheet, Text, View, PermissionsAndroid } from 'react-native'

import Camera, {
    Aspect,
    CaptureQuality,
    TorchMode,
} from 'react-native-openalpr'

async function requestCameraPermission() {
    try {
        const granted = await PermissionsAndroid.request(

[2019-12-22 11:42] CevaComic commented on #18
Can someone update the example in the repo with this method too ? I can't manage to make it work , i would appreciate a working example. Thank you

[2019-12-23 16:37] RobertSasak commented on #74
Can you please try the example folder from this repo?
I am not sure what exactly is the issue. Can you please describe it in more detail?

[2019-12-23 16:39] RobertSasak commented on #69
Strange that toFixed does not exists. Perhaps it is older JS engine.

[2019-12-23 19:37] #75 closed

[2019-12-23 19:39] #73 closed

[2019-12-23 20:57] RobertSasak commented on #18
I have updated the example https://github.com/RobertSasak/react-native-openalpr/blob/master/example/App.js

[2019-12-24 13:46] busraguler opened #76 "Execution failed for task ':opencv:compileDebugAidl'."
* What went wrong:
Execution failed for task ':opencv:compileDebugAidl'.

[2019-12-26 05:24] datafaust opened #77 "Using Example App.js, app crashes after a few seconds: Java and OpenCV error: cannot Cannot load info library for OpenCV"
I have installed the package and followed the documentation, altering files as directed. I have added the example/App.js file to run. I am on Ubuntu 18. I run react-native start, the app renders in both emulator and pixel2 physical device, but crashes after a few seconds without pressing anything.

I am see the following errors in android studio and was hoping you might be able to point me in the

[2019-12-26 09:50] RobertSasak commented on #77
There are not 64bit sub libraries for Android.
https://github.com/RobertSasak/react-native-openalpr/issues/61

[2019-12-26 10:33] busraguler opened #78 "Can we also get support for Turkey?"
Can we also get support for Turkey?
![il-plaka-kodları](https://user-images.githubusercontent.com/16039532/71472493-50368b00-27e4-11ea-851c-2c1f8c550d09.jpg)

[2019-12-26 10:36] RobertSasak commented on #78
You need to get config for Turkey. This repo is just a wrapper around OpenAlpr.
https://github.com/RobertSasak/react-native-openalpr/issues/72#issuecomment-566448673

[2019-12-28 09:16] busraguler commented on #76
why don't you answer here?

[2019-12-28 13:12] busraguler opened #79 "I was able to get build, but when the camera is turned on, the app is locked !!!"
I was able to get build, but when the camera is turned on, the app is locked !!!
Please help me.

[2019-12-28 21:43] RobertSasak commented on #79
What does it mean that the app is locked?
What platform are you running on?

[2019-12-28 21:46] RobertSasak commented on #76
Sounds like the versions of SDK, Build Tools and Gradle Plugins doesn't match.
https://stackoverflow.com/questions/29766830/execution-failed-for-task-appcompiledebugaidl-aidl-is-missing

[2019-12-30 06:18] busraguler commented on #79
When I run the application, it closes after 1 to 2 seconds (Window, Android. )

[2019-12-30 06:56] busraguler commented on #79
I think this error was caused by the camera.

[2019-12-30 13:45] RobertSasak commented on #79
Android platform is currently not supported as there are no 64bit openAlpr libraries. There is open issue about this.
https://github.com/RobertSasak/react-native-openalpr/issues/61

[2020-01-13 10:09] orifmilod opened #80 "Recoding while recognising plate?"
Can I start recording from the beginning and get a URI of the video back?

[2020-01-13 10:23] RobertSasak commented on #80
Unfortunately no. You can can only get a snapshot. However you may query as many snapshots as you want.

[2020-01-13 15:05] orifmilod commented on #80
is it possible to expect this feature any time soon?

[2020-01-15 06:42] RobertSasak commented on #80
PR are welcome.

[2020-02-01 16:43] kamellababidi opened #81 "Not able to run on android even 32 bit version"
built with the following error:

/Users/kamel/Desktop/repo-coin-scanner/android/app/build/generated/rncli/src/main/java/com/facebook/react/PackageList.java:34: error: cannot find symbol
import com.sandro.openalpr.CameraReactPackage;
                          ^
  symbol:   class CameraReactPackage
  location: package com.sandro.openalpr
/Users/kamel/Desktop/repo-coin-scanner/android/app/build/gener

[2020-02-02 21:47] RobertSasak commented on #81
What version of react native are you using?

[2020-02-02 21:48] #69 closed

[2020-02-03 06:11] kamellababidi commented on #81
@RobertSasak
I'm using the following versions
    "react": "16.9.0",
    "react-native": "0.61.1",

[2020-02-03 10:08] RobertSasak commented on #81
Are you running example forlder? If not can you try it first?

[2020-02-03 12:51] kamellababidi commented on #81
it tried and now I'm getting this error:

Could not resolve all dependencies for configuration ':app:_debugApk'.
A problem occurred configuring project ':react-native-openalpr'.
Could not resolve all dependencies for configuration ':react-native-openalpr:_debugPublish'.
Configuration with name 'default' not found.

[2020-02-03 12:52] kamellababidi commented on #81
I tried and now I'm getting the following error :
Could not resolve all dependencies for configuration ':app:_debugApk'.
A problem occurred configuring project ':react-native-openalpr'.
Could not resolve all dependencies for configuration
':react-native-openalpr:_debugPublish'.
Configuration with name 'default' not found.

On Mon, 3 Feb 2020 at 14:08, Robert Sasak <notifications@github.com> wrote:

[2020-02-03 15:14] kamellababidi commented on #81
I figured out the issue
there was a problem in settings.gradle file

[2020-02-03 15:14] #81 closed

[2020-02-06 15:38] im-amir commented on #66
@maryaibtissem , I am facing the same issue in android

[2020-02-06 16:34] RobertSasak commented on #66
What country license plate do you point your camera at?

[2020-02-06 18:29] im-amir commented on #66
Thanks for the quick reply. I am from Pakistan, and I pointed it to a car here

[2020-02-06 18:32] RobertSasak commented on #66
By default it only support some countries. Try to google for some EU license plate. For Pakistan you will need to get OpenAlpr config file.

[2020-02-06 19:19] im-amir commented on #66
You were right, I tried it for EU license plate, and then it made a sudden red border around that plate, and then this error appeared.
![image](https://user-images.githubusercontent.com/39588645/73970744-78ff8380-493f-11ea-9f47-cf02c354d1d8.png)

![image](https://user-images.githubusercontent.com/39588645/73970721-6e44ee80-493f-11ea-9757-b7147fd1e818.png)

[2020-02-06 19:20] im-amir commented on #66
I think confidence is not being calculated, need to put a check on it I think

[2020-02-06 20:33] im-amir commented on #68
My client's app crashed too when I sent him release apk of the example provided in Github because he was using Android 9. But the same generated apk did not crash on mine QMobile. I think it's due to some Android 9 compatibility issue

[2020-02-06 20:38] im-amir commented on #70
Here is the fix:
- After "step 4", if you have run "npm start", terminate it.
- then in `example` directory, run this command:
`react-native bundle --platform android --dev false --entry-file index.js --bundle-output android/app/src/main/assets/index.android.bundle --assets-dest android/app/src/main/res`
then in `example` directory, run:
`cd android && gradlew clean`
`cd .. && react-native run-and

[2020-02-06 22:12] RobertSasak commented on #66
Apparently some Android does not have toFixed. Already reported in https://github.com/RobertSasak/react-native-openalpr/issues/69
Simply remove it from the code.

[2020-02-07 11:53] maryaibtissem commented on #66
In Android confidence is a string, you have to do something like
const newConfidence = 1 * confidence !== confidence ? parseFloat(confidence) : confidence;

[2020-02-21 14:29] RichardPiel commented on #20
Do you know if it is possible to easily add a digital zoom feature?

[2020-02-21 15:16] RobertSasak commented on #20
You may need to implement zoom here. PR is more than welcome.
https://github.com/RobertSasak/react-native-openalpr/blob/master/ios/ALPRCamera.m#L187

[2020-02-21 16:03] RichardPiel commented on #20
Okay, thanks. I'll try. I'll get back to you as soon as I can.

[2020-02-21 22:53] RichardPiel commented on #20
I've just developed the zoom support for Android, how to make a pull request? I don't have the rights to create a branch and send modifications.

[2020-02-26 09:05] RobertSasak opened #84 "error: package android.support.annotation does not exist"
This is due missing support for AndroidX

[2020-02-28 22:20] costabatista commented on #16
@marcelocferdeveloper  Hi Marcelo, I'll work in a new project using Java or React Native (I don't Know yet) and i'll study how (in the better way) improve the results to brazilian plates (considering our new mercosul plate model). Through this project, i expect help the organization that i'm working now and help other brazilian people that's facing the same problem. [Olá Marcelo, trabalharei em um

[2020-03-03 13:20] ederwan opened #86 "Crash when authorising the camera on android"
Hi, I was unable to make it work on android (i follow the tuto to use the exemple), every time i accept the camera authorisation, it crash. I was unable to have log about it. I saw problem about android 64 bit on other issues but i was unable to understand if it's over or not. Do you have recommendation to make it work on android ? Thank you

[2020-03-03 15:42] ederwan commented on #74
Hi, try to go in the setting -> yourapp -> permission -> enable camera

[2020-03-03 15:46] RobertSasak commented on #86
64bit is not resolved yet. It is not possible to publish app into Google Play. However I am able to run example on my Android phone.

I just published version 2.1.1 which fixed small issue with toFixed. I think that may be the issue that you encountered.

[2020-03-04 08:39] ederwan commented on #86
I upgrade the package with yarn but it crash again after authorising the camera...
I don't understand how it's possible because i only use the exemple.

[2020-03-04 13:46] RobertSasak commented on #86
It is clearly the issue with 64bit libraries. Your phone cannot find it, because they do not exists.

[2020-03-04 14:27] ederwan commented on #86
But i dont understand how  to run 32bits app, my 64 bits phone should be able to run it.

[2020-03-04 14:37] ederwan commented on #86
Ok, it work, it was my mistack, i was unable to create a 32 bit apk. To do so I add
[code]
In build.gradle(:app) ->
`android {
    ....
    defaultConfig {
        ....
        ndk {
            abiFilters "armeabi", "armeabi-v7a", "x86", "mips"
        }
    }
}`

[2020-03-04 14:37] #86 closed

[2020-03-10 22:22] maiconcosta opened #87 "Plugin does not work"
Is there a problem with the repository?
I installed it in my application, and used the sample code, when pointing to a plate, the outline did not appear and the plate was not read.

I'm using android.

I tried to read the plates for Brazil, the United States and Europe.

[2020-03-11 09:38] RobertSasak commented on #87
Hard to tell where can be an issue. Example for works for me and recognise EU plates.

[2020-03-11 14:40] maiconcosta commented on #87
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/20714075/76428883-08f47b00-638d-11ea-998c-56c5f57621de.gif)

[2020-03-12 17:12] RobertSasak commented on #87
Have you try to run an example folder alone? It is hard to debug your custom project.

[2020-03-13 14:01] maiconcosta commented on #87
Sorry, I did a test just with the example directory and it worked. I will adapt it to my project, thank you!

[2020-03-13 14:01] #87 closed

[2020-04-06 05:19] Mahmoud-git opened #89 "Camera stopped recognize license plate after the last update of RNCamera"

[2020-04-06 08:32] RobertSasak commented on #89
What platform? What version?
Have you tried if it works on example?

[2020-04-12 07:33] Dreamskya opened #90 "Hello, do you support license plate recognition in Singapore?"

[2020-04-12 09:39] RobertSasak commented on #90
This library is just a wrapper around OpenAlpr. It will recognise plates of the country specified in config file. If there is a a config file for your country you need to search at https://github.com/openalpr/openalpr

[2020-04-12 09:39] #78 closed

[2020-04-12 09:40] #66 closed

[2020-04-12 09:40] #72 closed

[2020-04-12 09:40] #77 closed

[2020-04-12 09:40] #76 closed

[2020-04-12 09:41] #74 closed

[2020-04-12 09:41] #79 closed

[2020-04-12 09:41] #70 closed

[2020-04-12 09:42] RobertSasak commented on #68
Android is not really supported, we are missing 64bit libraries.

[2020-04-12 09:42] #68 closed

[2020-04-13 01:15] Dreamskya commented on #90
thank you

[2020-04-13 02:21] Dreamskya commented on #90
country
Specifies which OpenALPR config file to load, corresponding to the country whose plates you wish to recognize. Currently supported values are:

    au
    br
    eu
    fr
    gb
    kr
    mx
    sg
    us
    vn2
Hello, I see your document about supporting Singapore (SG). It seems that I can't use it. I can't support the license plate of this country. The identification interface is fill

[2020-04-13 06:14] RobertSasak commented on #90
The way I understand it is following. OpenAlpr train their model on on different country licence plate. As a result they got different models/parameters. Those are specified in
https://github.com/RobertSasak/react-native-openalpr/blob/master/example/android/app/src/main/assets/runtime_data/openalpr.conf

I guess if you would add a new section into this file *SG* you could change country to SG and

[2020-04-14 01:27] Dreamskya commented on #90
I see. Do you have the model parameters of Singapore? Is it the parameter used in openalpr.conf? I'm an Android Developer and I don't understand algorithms. Or do you have a demo that can run license plate recognition in Singapore?
  protected void onActivityResult(int requestCode, int resultCode, Intent data) {
        if(resultCode == RESULT_OK) {

            String openAlprConfFile = ANDROID_D

[2020-04-14 08:29] RobertSasak commented on #90
I am not sure what above code means. I think you want to start with standalone OpenAlpr make it work with SG plates. And then try this wrapper.

Yes, you need to add section SG into openalpr.conf

[2020-04-14 12:19] Dreamskya commented on #90
thank you

zhangtao@simtoo.com

From: Robert Sasak
Date: 2020-04-14 16:29
To: RobertSasak/react-native-openalpr
CC: Dreamskya; Author
Subject: Re: [RobertSasak/react-native-openalpr] Hello, do you support license plate recognition in Singapore? (#90)
I am not sure what above code means. I think you want to start with standalone OpenAlpr make it work with SG plates. And then try this wrapper.
Yes,

[2020-05-15 14:57] maryaibtissem commented on #9
Having the same issue

[2020-05-15 22:29] RobertSasak commented on #9
@maryaibtissem Can you please provide more information?

[2020-05-26 12:21] maryaibtissem commented on #9
hi, the application crash when i change country to 'eu', but country = 'us' works fine
<img width="752" alt="Capture d’écran 2020-05-26 à 14 20 40" src="https://user-images.githubusercontent.com/23694894/82900024-297bac80-9f5c-11ea-9278-70e83bf7e1c0.png">

[2020-06-19 11:20] makkimadani opened #91 "Disable plate rectangle after recognition"
how can I disable plate rectangle after recognition finished? and how to start / stop recognition ?

[2020-06-19 11:24] RobertSasak commented on #91
Recognition is always on. You may ignore the recognitions that you do not need.
You can hide rectangle with _showPlateOutline_.

[2020-06-19 11:27] makkimadani commented on #91
i need to show the plateOutLine and disable it after detection.. is there any way ?

[2020-06-19 11:28] RobertSasak commented on #91
No this is not possible.

[2020-06-19 11:29] #91 closed

[2020-07-06 13:17] harrischelsea opened #92 "OpenAlpr not working on android in release mode"
I have a problem with library in release mode on android.
It works fine on IOS (debug/release) and ANDROID debug.

It shows camera but it not recognize anything at all.

Can anyone help with this?

[2020-07-06 13:20] RobertSasak commented on #92
There are no 64bit libs for Android. Could that b a problem?
https://github.com/RobertSasak/react-native-openalpr/issues/61

[2020-07-07 10:51] aniruddhbhamare opened #93 "react-native android app crash"
"react": "16.9.0",
"react-native": "0.61.5",
 "react-native-openalpr": "^2.1.1",
"react-native-permissions": "^2.0.9",

camera open n after 2 - 3 sec. app crashes on android

[2020-07-07 11:40] RobertSasak commented on #93
Duplicate of this https://github.com/RobertSasak/react-native-openalpr/issues/61 ?

[2020-07-07 12:16] harrischelsea commented on #92
Robert, thank you for sour answer. Mayve that could be a problem. Is there any solution for this? Does anyone have this problem?

[2020-07-07 12:18] RobertSasak commented on #92
This library is just a wrapper around non existing native app.  Somebody need to create those 64bit libraries. There is no other way.

[2020-07-10 22:45] juniortrials opened #94 "Generated duplicate UUIDs"
hello all good, first congratulations on the work with the library I believe it helps many projects, I am trying to install the library on IOS RN 0.6.2 to run on the iphone, and it presents this after the pod install,
[!] Can't merge user_target_xcconfig for pod targets: ["MobileVLCKit", "TesseractOCRiOS"]. Singular build setting CLANG_CXX_LIBRARY has different values.

[!] Can't merge user_target

[2020-07-10 23:31] RobertSasak commented on #94
It seems that you are using MobileVLCKit, I am not really sure what is it for. I suggest that you start with *example* folder and gradually add more libraries one by one.

[2020-07-11 01:47] juniortrials commented on #94
tks

[2020-07-11 01:47] #94 closed

[2020-07-13 19:24] richiepreece opened #95 "No camera after following setup instructions."
Hi!

I have followed the setup instructions for Android but I'm struggling to get it to work.

![image](https://user-images.githubusercontent.com/1470437/87344602-0016e000-c50c-11ea-801f-13a4bc940ab9.png)

I have a project that is very simply using the example provided in the README.md file, but this is all I see. The setup instructions seem fairly straightforward, but I'm a little confused by thi

[2020-07-13 19:25] richiepreece commented on #95
As a follow up thought, the readme says `copy and paste the directory with the runtime needed data to your project at path`. That line is super confusing. I'm not sure what files I should be copying and where they should be copied to. The only one I coped was the `openalpr.conf` file, but it obviously was inadequate for the setup.

[2020-07-13 21:10] RobertSasak commented on #95
I suggest to start with the example folder. Make it run first. Once done, you can try with your own repo and custom paths. openalpr.conf is usually in assets folder.

Android is however missing 64bit libs and you won't be able to run on some of the devices and won't be able to submit it to Play Store. See the pined issue.

[2020-08-04 19:44] waheedshabeer commented on #93
please give solution

[2020-08-05 09:15] RobertSasak commented on #93
Without further information there is nothing to be done.

[2020-09-17 15:28] Balasnest opened #98 "Out of memory error :::: Mat.n_clone"
Any idea? Facing this while calling process method in onCameraFrame. How to resolve this problem?

Looks like cloning Mat causing this issue:
[code]

[code]

[2020-09-17 16:18] RobertSasak commented on #98
Sounds like your device does not have enough memory. What device do you test on?

[2020-09-24 08:14] arinconc opened #99 "Error when running run-ios"
Hello guys!
I just installed this component in a new application and when running run-ios I have this error:

`The iOS Simulator deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 6.0, but the range of supported deployment target versions is 9.0 to 14.0.99. (in target 'OpenSSL-Universal' from project 'Pods')
    The iOS Simulator deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 4.0,

[2020-09-24 09:12] RobertSasak commented on #99
What is the error? I suggest that you start with example project and try it first. Once you get it to work, you can try to move to your own repo.

[2020-09-24 10:05] arinconc commented on #99
Thanks for your quick response. I tell you the steps I have followed:
1 I have created a new react-native project:
`$ react-native init app`
2 I have run the project in the simulator and it works:
[code]
3 I have added react-native-openalpr:
`$ yarn add react-native-openalpr`
4 Following the steps to run on iOS I have added react-native-permissions
`$ yarn add react-native-permissions`
5 I have ed

[2020-09-24 10:15] RobertSasak commented on #99
Linking errors are hard to debug as every computer has its own enviroment. You will save hours of debugging by starting with example folder. Once you get that one running you will quickly see what is missing in your repo.

[2020-09-24 10:19] arinconc commented on #99
Ok Robert. I'll try it.

Thanks!

[2020-09-29 14:03] mertbuldur opened #100 "How can I set the plate in my home country."
Hello, I am using this package in my react native project. Thank you very much to those who prepared the package.
How do I make plate settings for Turkey?

[2020-09-30 10:18] RobertSasak commented on #100
This library is just a wrapper for a OpenALPR. It will use _openalpr.conf_ file. You need to search online for a _openalpr.conf_ file for Turkey. This might be a good start.
https://discuss.openalpr.com/t/turkey-tr-plate-number-recognize/590

Once you get _openalpr.conf_ for Turkey you simply swap it with the one provided in the wrapper. Remember to post your findings to this issue to help others.

[2020-09-30 10:22] mertbuldur commented on #100
![Ekran Resmi 2020-09-30 13 21 32](https://user-images.githubusercontent.com/8089725/94673742-dce81980-031f-11eb-80a8-03a87a79085c.png)
Thanks for comment.Where is openalpr.conf folder ?  I dont find this :/ sorry

[2020-09-30 10:49] RobertSasak commented on #100
Good point. Config files are actually located in
https://github.com/RobertSasak/react-native-openalpr/tree/master/ios/Frameworks/openalpr.framework/runtime_data/config
You can specify which config file to load by country prop.

[2020-09-30 13:33] mertbuldur commented on #100
@RobertSasak  so thank you :D

[2020-10-27 14:52] Sohailbhutto commented on #99
@arinconc any update ?
@RobertSasak

[2020-11-07 20:42] duartejc commented on #93
I fixed similar crash issue adding this configuration in _app/build.gradle_ file:

[code]

[2020-12-17 16:29] richiepreece commented on #99
@arinconc @Sohailbhutto @RobertSasak

I was having the same issue, and have found the solution:

With new versions of react native, you DO NOT want to run the `yarn add react-native-permissions` command OR the `pod 'Permission-Camera', :path => "../node_modules/react-native-permissions/ios/Camera.podspec"` command.

Those are automatically applied via the podspec file. I'm going to open a PR to tr

[2020-12-17 17:47] RobertSasak commented on #99
@richiepreece Thank you for looking into it. Let me know if I can be any help.

[2020-12-17 18:37] richiepreece commented on #99
@RobertSasak I've created a pull request in #102

[2020-12-17 18:39] #95 closed

[2020-12-17 18:42] richiepreece opened #103 "iPhone zoom and native multi camera support"
@RobertSasak I'm new to this repo, but I'd love to get it modernized since it appears as though a lot of work was done 10 months ago or more.

I'm looking to get support for multi cameras in iphone so I don't need to rely on the wider-angle lens, but can use a telephoto to scan from a further distance. I'm happy to take this task on, if you wouldn't mind pointing me in the general direction of how

[2020-12-17 19:15] RobertSasak commented on #103
I am glad to hear your interest. I am just a maintainer for this repository, so I do not know as much.

It looks like you can select camera at this line. https://github.com/RobertSasak/react-native-openalpr/blob/master/ios/ALPRCameraManager.mm#L364

You can try to experiment with it by providing front camera and perhaps also tele camera if available. You can post your findings here, but I am also

[2021-01-04 09:52] websky112 opened #104 "null is not an object (evaluating 'ALPRCameramanager.Aspect')"
![image](https://user-images.githubusercontent.com/50550531/103522548-64698b00-4e2f-11eb-88e0-2d6ed8785d3b.png)
I have tried to use this package on Expo project, and got the above issue.
How can I fix this issue?

[2021-01-04 10:20] RobertSasak commented on #104
Expo is supporting on selected native modules. That is the whole point of Expo. _react-native-openalpr_ is not supported by Expo. You need to **eject** from expo in order to use this library.

[2021-01-04 10:20] #104 closed

[2021-01-04 19:38] KevinZhanggg commented on #72
@vinpro24 Did you solve it ?

[2021-01-06 13:55] kaangultekin commented on #92
Hi, Anybody have a solution?

[2021-01-06 15:33] RobertSasak commented on #92
@kaangultekin This library does not support Android in release mode. There is no solution at the moment nor nobody is actively working on it.

[2021-01-06 15:36] kaangultekin commented on #92
so does it mean that openalpr is not available for Android? I could
not understand.

6 Oca 2021 Çar 18:34 tarihinde Robert Sasak <notifications@github.com> şunu
yazdı:

[2021-01-06 15:47] RobertSasak commented on #92
You cannot publish app to Google Play Store which is not using 64bit libraries. So any app containing this library cannot be published into store. https://github.com/RobertSasak/react-native-openalpr/issues/61

You can still test it on your phone if you want in debug mode. Again I suggest that you start with making it work on example folder on your phone before your try to drop this library into y

[2021-01-06 15:52] kaangultekin commented on #92
Thank you Robert. I will try. you are awesome.

6 Oca 2021 Çar 18:47 tarihinde Robert Sasak <notifications@github.com> şunu
yazdı:

[2021-01-06 19:14] erdemyunsel opened #105 "file not found libstdc++"
Hello,

When i run the new project with react-native-openalpr i got this error.

ld: file not found: /usr/lib/libstdc++.6.0.9.dylib
clang: error: linker command failed with exit code 1 (use -v to see invocation)

When I did some research on the Internet, I found out that the library is no longer in use.
https://stackoverflow.com/questions/50694822/xcode-10-ios-12-does-not-contain-libstdc6-0-9/5073

[2021-01-14 11:24] kamellababidi commented on #105
Same Here!
+1

[2021-01-14 11:57] RobertSasak commented on #105
Quick search in issues mention similar issue with libstdc. https://github.com/RobertSasak/react-native-openalpr/issues/99

Can that be that you are just missing persmissions as stated in PR?
https://github.com/RobertSasak/react-native-openalpr/pull/102

[2021-02-15 18:12] EthanSherr commented on #105
Bump on this issue.  I don't think it's related to #99 or #102.  I believe that the issue is, after running pod install in my project (which uses react-native-openalpr) I start to see, `-weak_library /usr/lib/libstdc++.6.0.9.dylib` in OTHER_LDFLAGS in my project's xcworkspace's Pods-MYAPP.debug.xcconfig / release.xcconfig.  Removing these lines lets my build succeed but this is a temporary fix, as

[2021-02-15 20:44] RobertSasak commented on #105
So you have a workaround? Who is adding those lines back again after pod install?

[2021-02-17 04:35] richiepreece commented on #105
This workaround works for me. We should keep the issue open until the workaround isn't needed though.

[2021-02-17 13:49] arturBrumm commented on #105
What can fix this issue even on pod install is to change the podfile this way:

[code]

[2021-02-17 15:59] richiepreece commented on #105
FWIW, this might be a Big Sur-only issue. When I upgraded to Big Sur I started seeing this issue. I wonder if they've removed the library since it's no longer supported.

[2021-02-19 19:54] EthanSherr commented on #105
Well that far beats manually editing the xcconfig file.  Thank you for the better-working workaround!  Issue still should remain open, but for now this fixes my app's CI problem

[2021-02-19 19:55] EthanSherr commented on #105
Yes I think it's an xcode 10 issue, as libstdc++.6.0.9.dylib is now officially gone

[2021-02-19 20:03] EthanSherr commented on #105
Hey there.  So my original observation was that -- after a pod install in my App, I would get this line: `-weak_library /usr/lib/libstdc++.6.0.9.dylib` in my project's target's xcconfig files.  I found that by just removing this substring from the xcconfig of my project, my app would build And still work as intended.  Doing another pod install though of course would re-add this to my xcconfig and

[2021-03-04 06:49] unwmun commented on #92
If it is just a problem that does not run in release mode on android, you should check the ProGuard settings.
if your build.gradle(app) settings:
[code]
Add the ProGuard rule that can be resolved the problem:

**app/proguard-rules.pro**
[code]

[2021-03-04 13:19] kamellababidi commented on #92
@unwmun
Have you tried that solution and working fine for you?!
If so, please let us know as we all waiting for a solution on android.

Thanks!

[2021-03-08 21:31] #103 closed

[2021-03-13 21:02] kamellababidi opened #106 "Is there a way to make camera zoom on IOS?"

[2021-03-13 21:39] RobertSasak commented on #106
Should be possible. PR are welcome.

[2021-04-12 11:51] shivaraj12345 opened #108 "Doesit support UAE vehicle plate number?"
I want to fetch detail of UAE vehicle plate numbers which includes arabic langauge ...can someone please let me know if this library supports Arabic text

[2021-04-12 12:59] RobertSasak commented on #108
This library is just a wrapper around OpenALPR. Any licence plate that is supported by OpenALPR is also supported by this wrapper. That being said, you need a config file for UAE licence plates.

[2021-04-14 06:16] shivaraj12345 opened #109 "_reactNativeOpenalpr.takePicture in android on press of take picture?"
Hi , I am able to run the build but onpress of take picture button i am geeting below error

Possible Unhandled Promise Rejection (id: 2):
TypeError: (0, _reactNativeOpenalpr.takePicture) is not a function. (In '(0, _reactNativeOpenalpr.takePicture)({
                  width: 4032,
                  height: 3024,
                  quality: 0.8
                })', '(0, _reactNativeOpenalpr.takePic

[2021-04-14 09:03] RobertSasak commented on #109
What platform do you get this error? Taking pictures is only available on iOS.

[2021-04-16 09:44] shivaraj12345 commented on #109
What would be the solution for android?

[2021-04-17 16:43] RobertSasak commented on #109
Contribute with a PR.

[2021-04-21 11:36] vinpro24 commented on #72
Not yet

[2021-04-25 05:02] shivaraj12345 commented on #109
Hi please can u tell me how can i work out without takepicture method, i want to read plate number in android

[2021-04-25 08:54] RobertSasak commented on #109
Clone this repo and open example project. Run it in Android Studio and test it on you phone.

[2021-05-03 08:37] RobertSasak commented on #105
@arturBrumm workaround is now included in example as well mentioned in Readme. Closing for now, if you find a better solution than we have now, we can open this issue again.

[2021-05-03 08:37] #105 closed

[2021-05-03 08:39] #100 closed

[2021-05-03 08:40] #92 closed

[2021-05-03 08:41] RobertSasak commented on #99
There is a workaround in Podfile for this in example folder. Closing for now

[2021-05-03 08:41] #99 closed

[2021-05-03 08:41] #80 closed

[2021-05-03 08:43] #93 closed

[2021-05-03 08:44] #89 closed

[2021-05-03 08:44] #98 closed

[2021-05-03 08:45] #109 closed

[2021-05-04 10:17] #106 closed

[2021-05-13 18:14] wuuutlol opened #116 "TypeError: null is not an object (evaluating 'ALPRCameraManager.Aspect')"
I am using expo to start a new React Native project and test react-native-openalpr. I run the commands below before starting the app with expo start:

**yarn add react-native-openalpr**
**cd ios && pod install && cd ..**

When I add the code below to App.js it throws an error:

Code:
import Camera, {
  Aspect,
  CaptureQuality,
  TorchMode,
} from 'react-native-openalpr'
TypeError: null is not an

[2021-05-13 19:05] RobertSasak commented on #116
I suggest that you start with a example folder. Make it work first and then try to move on to you own project. Unfrtunately it is very hard to give you any advices on your own custom code/project.

[2021-06-07 16:38] wuuutlol commented on #116
Got this running starting from the example, thank you.

[2021-06-07 18:11] #116 closed

[2021-06-10 06:25] AbhishekHirapara commented on #61
Need 64-bit openalpr Lib. please help if anyone have that lib.

[2021-06-29 19:41] edgaru commented on #61
Any update for 64bit?

[2021-06-29 19:51] RobertSasak commented on #61
I am sorry. Not so far.

[2021-07-09 08:29] nicolasTorrell opened #118 "Try yo test example error with npm start"
When i try to do the npm start and connect to the url it gives this message, it's there something i'm missing?
Error: Unable to resolve module `./index.android` from ``:

None of these files exist:
  * index.android(.native|.android.js|.native.js|.js|.android.json|.native.json|.json|.android.ts|.native.ts|.ts|.android.tsx|.native.tsx|.tsx)
  * index.android\index(.native|.android.js|.native.js|.js

[2021-07-09 09:16] RobertSasak commented on #118
It sounds like an metro installation issue. I would start by cloning repo into new folder, navigate to _example_ folder and installed all the dependencies by running _yarn_. Then you can try to run _react-native run-android_ If is still does not work, please provide more information regarding what version of NPM and react-native are installed.

[2021-07-23 11:30] #90 closed

[2021-07-23 11:31] #108 closed

[2021-07-26 21:48] matos-claudio commented on #63
I have the same problem

[2021-07-26 21:52] RobertSasak commented on #63
This library wrapper does not have Typescript declarations. This is the perfect first pull request, feel free to open one.

[2021-07-28 12:54] Turing311 commented on #118
Same issue here.
How can resolve it?

[2021-07-28 16:49] RobertSasak commented on #118
@Turing311 Without more information it is not possible to help you. Please start with the example folder. Make it run there and then try it in your own project.

[2021-08-06 12:08] momodeveloper opened #121 "app crashes on android device"
here is the crash log
![crash_log](https://user-images.githubusercontent.com/69371495/128507884-7085098e-967e-43fa-82db-c481e1c6eabf.png)

I think it's related to the fact that Android package is missing 64bit libraries. Is there any workaround to make it work please ?

( it works perfectly in ios)

[2021-08-18 07:53] RobertSasak commented on #121
I am sorry, there is no workaround. This library is still missing 64bits libraries as stated here https://github.com/RobertSasak/react-native-openalpr/issues/61

[2021-10-12 12:44] reft opened #125 "fix libstdc not found without modifying podfile (eas)"
Hi,

Is it possible to fix the libstdc problem when you don't have access to the Podfile?

I'm using expo eas build and I can't modify the podfile without ejecting.
Is it possible to fork the project and modify the podspec or something?

I think eas build service uses xcode 12.5

Thanks..

![image](https://user-images.githubusercontent.com/3218213/136956067-2f263629-8166-4639-8471-4803c3b7a7d1.png

[2021-10-12 19:12] reft commented on #125
@RobertSasak

Thanks for the quick reply,

Ok so.. I'm very novice when it comes to this so I will probably not be able to solve it..

If I were to use the OCR that comes with react-native-camera, would it make a big difference?
I mean, if for example I would like to retrieve license number from US plates, I know the format so I should be good to go? I guess what I'm asking is.. Do I lose alot by

[2021-10-20 02:23] Seu07 opened #126 "not support for react native 0.64.0"
Hello, have you plan to support RN 0.64.0 and 64bit?

[2021-10-22 01:42] Seu07 commented on #126
Thank you for reply back. yes I build test again for RN 0.64.0 work as normal. iOS and android(32bit) work great, on for android X not crash(camera not support for this device)
![IMAGE 2021-10-22 08:42:36](https://user-images.githubusercontent.com/29596908/138379670-a07e7a4b-1e6e-4a4c-8845-05797b2c40b3.jpg)
.

[2021-10-27 10:08] Icarus0420 opened #127 "I met some Errors on Example Project"
Hi.
I have some errors on example project using react-native-openalpr.
Error is following:

"error: bundling failed: Error: Unable to resolve module `react-native-openalpr` from `App.js`: react-native-openalpr could not be found within the project.

If you are sure the module exists, try these steps:
 1. Clear watchman watches: watchman watch-del-all
 2. Delete node_modules: rm -rf node_modules an

[2021-11-16 06:42] Applizone opened #128 "How do I use to detect license plate from static image?"
Is it available on this library? I see only Camera and it's options on the index.js file. I'm using another library for capturing image, video using image-picker.

I have the path, and how do I use the image path for it to return the ```onPlateRecognized``` event?

[2021-11-16 12:25] RobertSasak commented on #128
I am sorry. This is not available.

[2021-12-20 13:26] Sukhminder-Singh commented on #61
If anyone get the solution or any other library for the same please share you solution here I am stuck in same requirement.

[2021-12-20 13:27] rahulmishra1991 commented on #61
I am stuck in the same requirement if anyone got the solution for the same please share.

[2022-03-22 20:20] zahrafalah opened #131 "react-native-camera is deprecated."

[2022-04-06 11:52] sidroker opened #132 "Configuration with name 'compile' not found."
Hello,

I am trying to implement this module in my and i face below issue,

On android side
-Caused by: org.gradle.api.plugins.UnknownPluginException: Plugin with id 'maven' not found.
after resolving it will got another error like
Build file '/Users/metizsoft_m1/NumberScanDemo/node_modules/react-native-openalpr/android/build.gradle' line: 106

A problem occurred configuring project ':react-native

[2022-04-08 09:04] RobertSasak commented on #132
iOS issue is described here https://github.com/RobertSasak/react-native-openalpr/issues/105#issuecomment-831113831

[2022-08-09 03:15] nppull opened #135 "Can I get result with dash?"
I scanned the license plate number AA-1234, but the result returned is AA1234
Can i get result AA-1234 ?

[2022-08-09 04:02] RobertSasak commented on #135
No, there is no such an option.

[2022-08-09 04:02] #135 closed

[2022-08-09 04:03] RobertSasak commented on #131
No information provided.

[2022-08-09 04:03] #131 closed

[2022-08-09 04:03] #128 closed

[2022-08-09 04:04] RobertSasak commented on #127
Closed for inactivity.

[2022-08-09 04:04] #127 closed

[2022-08-09 04:04] #125 closed

[2022-08-09 04:04] #126 closed

[2022-08-09 04:05] #132 closed

[2022-09-02 18:47] mweel1 opened #136 "^ 'FlipperKit/FlipperClient.h' file not found"
Getting the following error after following instructions on IOS.

`npm run ios

› Planning build
› Compiling react-native Pods/RCT-Folly » FileUtil.cpp
› Compiling react-native Pods/React-Core » RCTBundleURLProvider.mm
› Compiling react-native Pods/React-Core » RCTCxxBridge.mm
› Compiling react-native Pods/React-Core » RCTAppSetupUtils.mm

❌  (node_modules/react-native/React/AppSetup/RCTAppSetupUt

[2022-09-02 18:59] mweel1 commented on #136
Was missing in the example podfile
`
    find_and_replace("../node_modules/react-native/React/CxxBridge/RCTCxxBridge.mm", "_initializeModules:(NSArray<id<RCTBridgeModule>> *)modules", "_initializeModules:(NSArray<Class> *)modules")
    find_and_replace("../node_modules/react-native/ReactCommon/turbomodule/core/platform/ios/RCTTurboModuleManager.mm", "RCTBridgeModuleNameForClass(module))", "RCTBrid

[2022-09-02 18:59] #136 closed, assigned to nobody

[2022-09-20 11:45] Rebaiahmed opened #137 "It can be used with expo-project?"
Hello, I want to ask if it's possible to integrate this lib with expo-project?

[2022-09-20 14:37] RobertSasak commented on #137
No.

[2022-10-16 16:32] Dubey-Shivani opened #138 "React-native camera not working"
Since React-native camera is deprecated ([https://github.com/react-native-camera/react-native-camera](https://github.com/react-native-camera/react-native-camera)). So now this library isn't working.

How can I make it run?

[2022-11-04 19:18] pke opened #139 "Support scanning multiple countries at once"
Could this be easily integrated to scan for license plates from more than one country in each pass?

[2022-11-05 00:07] pke commented on #104
This also happens with current RN 0.70.0 non-expo projects too. Any idea how to fix it?

[2022-11-05 00:30] pke opened #140 "Possible to return the country of the license plate recognised?"
The current result does not contain the country the plate was recognised for. For example using "eu" as country resolves many plates from different countries but the library does not currently output the country.

Would that be even possible with openalpr? Couldn't find a good documentation on that lib.

[2022-11-06 13:51] RobertSasak commented on #104
Library is not installed properly.

[2022-11-06 13:51] RobertSasak commented on #140
Library as well documentation is missing. This is not possible.

[2022-11-06 13:52] #137 closed, assigned to nobody

[2022-11-06 13:56] RobertSasak commented on #138
This library does not directly depend on react-native-camera. So this deprecation is not affecting it.

[2022-11-07 23:05] pke commented on #104
Installed via yarn according to the instructions.

[2022-11-08 07:58] RobertSasak commented on #104
Try to reprodiuce the issue in example folder.